@font-face {
  font-family: "Kumbh Sans";
  src: url(../fonts/KumbhSans-VariableFont_YOPQ\,wght.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kumbh Sans";
  src: url(../../portfolio-04/fonts/KumbhSans-VariableFont_YOPQ\,wght.ttf) format("truetype");
  font-weight: 500;
  font-style: medium;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
