@use "../helpers" as *;

.person-card {
  --imageSize: #{rem(80)};

  display: flex;
  align-items: center;
  column-gap: fluid(16, 8);

  &__image {
    width: var(--imageSize);
    height: var(--imageSize);
    object-fit: cover;
    background-color: var(--color-dark-15);
    border-radius: 50%;

    @include laptop {
      --imageSize: #{rem(60)};
      height: var(--imageSize);
      object-fit: cover;
    }
  }

  &__body {
    display: grid;
    row-gap: rem(2);

    @include laptop-above {
      row-gap: rem(2);
    }
  }

  &__name {
    color: var(--color-light);
    font-weight: 600;
    font-size: rem(20);

    @include laptop {
      font-size: rem(18);
    }
  }
}
